
.wrapper {overflow: auto;}

#main {margin-left: 4px;}

#leftsidebar {
  float: none;
  width: auto;
}

#menulist {
  margin: 0;
  padding: 0;
}

.menuitem {
  background: #CDF0F6;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  list-style-type: none;
  margin: 4px;
  padding: 2px;
}

/* mobile */
@media screen and (min-width: 767px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

/* tablet */

@media screen and (min-width: 769px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

@media screen and (max-width: 991px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}

/* destop */

@media screen and (max-width: 992px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}