

/* mobile */
@media screen and (max-width: 767px) {
  .column1 {
    padding: 10px;
    background-color:#ccc;
    border: 4px solid black;
    margin-bottom: 5px;
  }
  
  .column2 {
    padding: 10px;
    background-color:#ccc;
    border: 4px solid black;
    margin-bottom: 5px;
  }
  
  .column3 {
    padding: 10px;
    background-color:#ccc;
    border: 4px solid black;
    margin-bottom: 5px;

  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
  }

  .head1{
    position: relative;
    left: 70%;
    background-color: orangered;
    bottom: 20px;
    border: 4px solid black;
    width: 30.1%;
    padding: 1%;
    margin-top: 2.4%;
    border-right: none;
  }

  .head2{
    position: relative;
    left: 70%;
    background-color: blue;
    bottom: 20px;
    border: 4px solid black;
    width: 30.1%;
    padding: 1%;
    margin-top: 2.4%;
    border-right: none;
  }

  .head3{
    position: relative;
    left: 70%;
    background-color: indigo;
    bottom: 20px;
    border: 4px solid black;
    width: 30.1%;
    padding: 1%;
    margin-top: 2.4%;
    border-right: none;
  }
  
}



/* tablet */
/* @media screen and (max-width: 900px) and (min-width: 600px) */
@media screen and (max-width: 991px) {
    .column1 {
      padding: 10px;
      background-color:#ccc;
      border: 4px solid black;
      margin-bottom: 5px;
    }
    
    .column2 {
      padding: 10px;
      background-color:#ccc;
      border: 4px solid black;
      margin-bottom: 5px;
    }
    
    .column3 {
      padding: 10px;
      background-color:#ccc;
      border: 4px solid black;
      margin-bottom: 5px;
  
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
    }
  
    .head1{
      position: relative;
      left: 70%;
      background-color: orangered;
      bottom: 20px;
      border: 4px solid black;
      width: 29%;
      padding: 1%;
      margin-top: 1%;
      border-right: none;
    }
  
    .head2{
      position: relative;
      left: 70%;
      background-color: blue;
      bottom: 20px;
      border: 4px solid black;
      width: 29%;
      padding: 1%;
      margin-top: 1%;
      border-right: none;
    }
  
    .head3{
      position: relative;
      left: 70%;
      background-color: indigo;
      bottom: 20px;
      border: 4px solid black;
      width: 29%;
      padding: 1%;
      margin-top: 1%;
      border-right: none;
    }
  
}


@media screen and (min-width: 992px) {

  .column1 {
    float: left;
    width: 25%;
    padding: 10px;
    background-color:#ccc;
    border: 4px solid black;
    margin-right: 20px;
  }
  
  .column2 {
    float: left;
    width: 25%;
    padding: 10px;
    background-color:#ccc;
    border: 4px solid black;
    margin-right: 20px;
  }
  
  .column3 {
    float: left;
    width: 25%;
    padding: 10px;
    background-color:#ccc;
    border: 4px solid black;
    margin-right: 20px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .head1{
    position: relative;
    left: 67%;
    background-color: orangered;
    bottom: 20px;
    border: 4px solid black;
    width: 34%;
    padding: 0.7%;
    margin-top: 2.5%;
    border-top: none;
    border-right: none;
  }
  
  .head2{
    position: relative;
    left: 75%;
    background-color: blue;
    color: white;
    bottom: 20px;
    border: 4px solid black;
    width: 26%;
    padding: 0.7%;
    margin-top: 2.5%;
    border-top: none;
    border-right: none;
  }
  
  .head3{
    position: relative;
    left: 75%;
    background-color: purple;
    bottom: 21px;
    border: 4px solid black;
    width: 26%;
    padding: 0.7%;
    margin-top: 2.5%;
    border-top: none;
    border-right: none;
}
}